.section.ajax-body.bg-grey-dark.dark
    .container.container-wide
        .row.margin-b-50
            .col-lg-8.col-lg-offset-1
                h1
                    strong
                    | Opus Container <br>
                    strong
                    |
                p.lead
                    | Donec vitae tincidunt nunc, eget auctor sem. Morbi tempor neque et pulvinar sollicitudin. Suspendisse et erat ante.   Morbi dapibus efficitur dui sed euismod.
        .margin-b-80
            img.margin-b-10(src='assets/img/projects/project-big-01.jpg', alt='')
            .margin-b-20.text-center.text-sm.text-muted Overhead View
            img.margin-b-10(src='assets/img/projects/project-big-02.jpg', alt='')
            .margin-b-20.text-center.text-sm.text-muted Isomteric View
        .row
            .col-lg-8.col-lg-offset-1
                h1
                    | To made this website we have used
                    strong 4
                    |  diffrent technologies.
        .row
            .col-lg-8.col-lg-offset-1
                .row.margin-b-30
                    .col-md-3
                        .icon.icon-circle.icon-primary
                            i.fa.fa-html5
                    .col-md-3
                        .icon.icon-circle.icon-primary
                            i.fa.fa-css3
                    .col-md-3
                        .icon.icon-circle.icon-primary
                            i.fa.fa-apple
                    .col-md-3
                        .icon.icon-circle.icon-primary
                            i.fa.fa-android
                p.lead
                    | Do you want see
                    a.link-default(href='#') online version
                    |  or download it
                a.btn.btn-primary.btn-filled(href='#')
                    span Buy it for $9
                    i.ti-shopping-cart
    // Close
    a.ajax-close.icon.icon-hover.icon-primary.icon-circle.icon-sm(href='#', data-dismiss='close')
        i.fa.fa-close
