// Header
header#header.bg-white.hidden-sm.hidden-xs
    // Photo
    a.photo(href='#')
        img(src='assets/img/manager-avatar-96x96.jpg', alt='...')
    // Navigation
    nav#main-menu
        ul.nav.nav-horizontal
            li
                a(href='#start')
                    span Start
            li
                a(href='#resume')
                    span Resume
            li
                a(href='#portfolio')
                    span Experience
            //li
                a(href='#testimonials')
                    span Testimonials
            li
                a(href='#posts')
                    span Latest Posts
            li
                a(href='#contact')
                    span Contact
            li
                a(href='/pdfFile/myCv')
                    span Documentation
    // Social Media
    .social-media.pull-right
        strong.text-sm Follow me!
        a.icon.icon-xs.margin-l-20(href='https://www.linkedin.com/in/trungtinluong/')
            i.fa.fa-linkedin.text-muted
        a.icon.icon-xs(href='https://github.com/zerotn3')
            i.fa.fa-github.text-muted
        a.icon.icon-xs(href='skype:trungtinspk?call')
            i.fa.fa-skype.text-muted
    // Header / End